body{
    background-image:linear-gradient(to bottom,rgb(6, 62, 88),rgb(15, 236, 207));
    font-family: 'Oswald', sans-serif;
}
.title{
    color: rgb(124, 20, 194);
    text-align: center;
    margin: 20px auto;
    width: 10vw;
}
.text{
    color: rgb(0, 0, 0);
    text-align: center;
}
#id{
    color: rgb(228, 20, 117);
    text-align: center;
}
img{
    width: 50%;
<<<<<<< HEAD
    height: auto;
    border-radius: 5%;
=======
    height: 50%;
>>>>>>> 8b3759846f0c1e8c27f977f29537fa6c13e5eba2

}
.block{
    width: 50vw;
    border: 5px solid red;
    text-align: center;
    padding: 20px 1px;
    margin: 10px auto;
    border-radius: 20%;

.cow{
    color: rgb(255, 255, 255);
}
}
#color1{
    background-color: aquamarine;
}
#color2{
    background-color: blueviolet;
}
#color3{
    background-color: rgb(221, 38, 206);
}
a{
    color: black;
}